<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logofin"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Motion_2"
        tools:targetApi="31">
        <activity
            android:name="com.finquant.Activity.Fish_count_list2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name="com.finquant.Service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.finquant.Activity.Register"
            android:exported="false" />
        <activity
            android:name="com.finquant.Activity.Fish_count_list"
            android:exported="false" />
        <activity
            android:name="com.finquant.Activity.CountAct"
            android:exported="false" />
        <activity
            android:name="com.finquant.Activity.front_page"
            android:exported="false" />
        <activity
            android:name="com.finquant.Activity.login"
            android:exported="false" />
        <activity
            android:name="com.finquant.Activity.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.finquant.Activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"> <!-- Set screenOrientation to portrait -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>